#******************************************************************************
# E.S.O. - VLT project
#
# An example MOONS Fibre Positioner Configuration File.
# See 'RFE to Instrument Software Interface Control Document' V0.2.
#
# NOTE: These are preliminary prototype parameters.
#       The actual parameters may evolve with the design.
#       The actual locations of the positioners and acquisition
#       cameras will be calibrated when we have real hardware.
#
#******************************************************************************
 
PAF.HDR.START;                    # Start of PAF Header
PAF.TYPE         "Configuration"; # Type of PAF
PAF.ID           "           ";   # ID for PAF
PAF.NAME         "           ";   # Name of PAF
PAF.DESC         "Prototype";     # Short description of PAF
PAF.CRTE.NAME    "MoonsFPS";      # Name of creator
PAF.CRTE.DAYTIM  "2016-01-21";    # Civil Time for creation
PAF.LCHG.NAME    "           ";   # Name of person/appl. changing
PAF.LCHG.DAYTIM  "2016-01-21";    # Timestamp of last change
PAF.CHCK.NAME    "           ";   # Name of appl. checking
PAF.HDR.END;                      # End of PAF Header
 
# 
# Parameters which are the same for all the fibre positioners.
# 
INS.POS.LENGTH1      8.000;  # Length of positioner alpha arms (mm)
INS.POS.LENGTH2     17.000;  # Length of positioner beta arms (mm)
INS.POS.WIDTH1       8.000;  # Width of positioner alpha arms (mm)
INS.POS.WIDTH2       4.000;  # Width of positioner beta arms (mm)
INS.POS.LOW1      -180.000;  # Lower travel limit of positioner alpha arm (deg)
INS.POS.HIGH1      180.000;  # Upper travel limit of positioner alpha arm (deg)
INS.POS.LOW2      -180.000;  # Lower travel limit of positioner beta arm (deg)
INS.POS.HIGH2      150.000;  # Upper travel limit of positioner beta arm (deg)
INS.POS.MINDIST      4.000;  # Closest fibre approach distance (mm)
INS.POS.TOLER       20.000;  # Fibre positioning tolerance (microns)
INS.POS.CURVRAD   4212.000;  # Radius of curvature of focal plane (mm)
 
# The positioner avoidance zones consist of:
# - a circle of diameter INS.POS.MINDIST centred at the fibre.
# - a rectangle of length INS.POS.B1 and width INS.POS.WIDTH2.
# - a small triangle of length INS.POS.TB2 and width INS.POS.TW1.
# - a large triangle of length INS.POS.TB3 and width INS.POS.TW2.
# - a datum actuator switch of length INS.POS.DL and width INS.POS.DW.
# See MOONS Shared Library Software Design Description.
INS.POS.B1           5.250;  # Length b1 of collision avoidance rectangle (mm)
INS.POS.TB2          2.000;  # Length tb2 of collision avoidance triangle (mm)
INS.POS.TB3          8.250;  # Length tb3 of collision avoidance triangle (mm)
INS.POS.TW1          4.000;  # Width tw1 of collision avoidance triangle (mm)
INS.POS.TW2          3.000;  # Width tw2 of collision avoidance triangle (mm)
INS.POS.DL           8.000;  # Length d1 of datum actuator (mm)
INS.POS.DW           4.000;  # Width 2*d2 of datum actuator (mm)
INS.POS.SAFETY       0.500;  # Safety tolerance applied to avoidance zones (mm)

# 
# Specific parameters for each acquisition camera in the grid.
# 
INS.ACQ1.RFOCAL     0.00000;  # R coordinate of acquisition camera 1 centre (mm)
INS.ACQ1.THFOCAL   90.00000;  # THETA coordinate of acquisition camera 1 centre (deg)
INS.ACQ1.FOV       40.00000;  # Field of view of acquisition camera 1 (arcsec)
INS.ACQ1.COLUMN          17;  # Column number of acquisition camera 1 in hexagonal grid
INS.ACQ1.ROW             19;  # Row number of acquisition camera 1 in hexagonal grid
 
INS.ACQ2.RFOCAL   402.32340;  # R coordinate of acquisition camera 2 centre (mm)
INS.ACQ2.THFOCAL   90.00000;  # THETA coordinate of acquisition camera 2 centre (deg)
INS.ACQ2.FOV       40.00000;  # Field of view of acquisition camera 2 (arcsec)
INS.ACQ2.COLUMN          33;  # Column number of acquisition camera 2 in hexagonal grid
INS.ACQ2.ROW             19;  # Row number of acquisition camera 2 in hexagonal grid
 
INS.ACQ3.RFOCAL   252.14580;  # R coordinate of acquisition camera 3 centre (mm)
INS.ACQ3.THFOCAL   90.00000;  # THETA coordinate of acquisition camera 3 centre (deg)
INS.ACQ3.FOV       40.00000;  # Field of view of acquisition camera 3 (arcsec)
INS.ACQ3.COLUMN          27;  # Column number of acquisition camera 3 in hexagonal grid
INS.ACQ3.ROW             19;  # Row number of acquisition camera 3 in hexagonal grid
 
INS.ACQ4.RFOCAL   101.00810;  # R coordinate of acquisition camera 4 centre (mm)
INS.ACQ4.THFOCAL   90.00000;  # THETA coordinate of acquisition camera 4 centre (deg)
INS.ACQ4.FOV       40.00000;  # Field of view of acquisition camera 4 (arcsec)
INS.ACQ4.COLUMN          21;  # Column number of acquisition camera 4 in hexagonal grid
INS.ACQ4.ROW             19;  # Row number of acquisition camera 4 in hexagonal grid
 
INS.ACQ5.RFOCAL    50.51470;  # R coordinate of acquisition camera 5 centre (mm)
INS.ACQ5.THFOCAL  270.00000;  # THETA coordinate of acquisition camera 5 centre (deg)
INS.ACQ5.FOV       40.00000;  # Field of view of acquisition camera 5 (arcsec)
INS.ACQ5.COLUMN          15;  # Column number of acquisition camera 5 in hexagonal grid
INS.ACQ5.ROW             19;  # Row number of acquisition camera 5 in hexagonal grid
 
INS.ACQ6.RFOCAL   201.84500;  # R coordinate of acquisition camera 6 centre (mm)
INS.ACQ6.THFOCAL  270.00000;  # THETA coordinate of acquisition camera 6 centre (deg)
INS.ACQ6.FOV       40.00000;  # Field of view of acquisition camera 6 (arcsec)
INS.ACQ6.COLUMN           9;  # Column number of acquisition camera 6 in hexagonal grid
INS.ACQ6.ROW             19;  # Row number of acquisition camera 6 in hexagonal grid
 
INS.ACQ7.RFOCAL   352.40600;  # R coordinate of acquisition camera 7 centre (mm)
INS.ACQ7.THFOCAL  270.00000;  # THETA coordinate of acquisition camera 7 centre (deg)
INS.ACQ7.FOV       40.00000;  # Field of view of acquisition camera 7 (arcsec)
INS.ACQ7.COLUMN           3;  # Column number of acquisition camera 7 in hexagonal grid
INS.ACQ7.ROW             19;  # Row number of acquisition camera 7 in hexagonal grid
 
INS.ACQ8.RFOCAL   190.51067;  # R coordinate of acquisition camera 8 centre (mm)
INS.ACQ8.THFOCAL   36.58678;  # THETA coordinate of acquisition camera 8 centre (deg)
INS.ACQ8.FOV       40.00000;  # Field of view of acquisition camera 8 (arcsec)
INS.ACQ8.COLUMN          21;  # Column number of acquisition camera 8 in hexagonal grid
INS.ACQ8.ROW             26;  # Row number of acquisition camera 8 in hexagonal grid
 
INS.ACQ9.RFOCAL   315.61987;  # R coordinate of acquisition camera 9 centre (mm)
INS.ACQ9.THFOCAL   33.96324;  # THETA coordinate of acquisition camera 9 centre (deg)
INS.ACQ9.FOV       40.00000;  # Field of view of acquisition camera 9 (arcsec)
INS.ACQ9.COLUMN          24;  # Column number of acquisition camera 9 in hexagonal grid
INS.ACQ9.ROW             31;  # Row number of acquisition camera 9 in hexagonal grid
 
INS.ACQ10.RFOCAL    75.76543;  # R coordinate of acquisition camera 10 centre (mm)
INS.ACQ10.THFOCAL  209.99999;  # THETA coordinate of acquisition camera 10 centre (deg)
INS.ACQ10.FOV       40.00000;  # Field of view of acquisition camera 10 (arcsec)
INS.ACQ10.COLUMN          15;  # Column number of acquisition camera 10 in hexagonal grid
INS.ACQ10.ROW             16;  # Row number of acquisition camera 10 in hexagonal grid
 
INS.ACQ11.RFOCAL   176.66112;  # R coordinate of acquisition camera 11 centre (mm)
INS.ACQ11.THFOCAL  210.00001;  # THETA coordinate of acquisition camera 11 centre (deg)
INS.ACQ11.FOV       40.00000;  # Field of view of acquisition camera 11 (arcsec)
INS.ACQ11.COLUMN          13;  # Column number of acquisition camera 11 in hexagonal grid
INS.ACQ11.ROW             12;  # Row number of acquisition camera 11 in hexagonal grid
 
INS.ACQ12.RFOCAL   340.59648;  # R coordinate of acquisition camera 12 centre (mm)
INS.ACQ12.THFOCAL  213.67047;  # THETA coordinate of acquisition camera 12 centre (deg)
INS.ACQ12.FOV       40.00000;  # Field of view of acquisition camera 12 (arcsec)
INS.ACQ12.COLUMN           9;  # Column number of acquisition camera 12 in hexagonal grid
INS.ACQ12.ROW              6;  # Row number of acquisition camera 12 in hexagonal grid
 
INS.ACQ13.RFOCAL    25.25873;  # R coordinate of acquisition camera 13 centre (mm)
INS.ACQ13.THFOCAL  329.99991;  # THETA coordinate of acquisition camera 13 centre (deg)
INS.ACQ13.FOV       40.00000;  # Field of view of acquisition camera 13 (arcsec)
INS.ACQ13.COLUMN          16;  # Column number of acquisition camera 13 in hexagonal grid
INS.ACQ13.ROW             20;  # Row number of acquisition camera 13 in hexagonal grid
 
INS.ACQ14.RFOCAL   215.53624;  # R coordinate of acquisition camera 14 centre (mm)
INS.ACQ14.THFOCAL  324.18249;  # THETA coordinate of acquisition camera 14 centre (deg)
INS.ACQ14.FOV       40.00000;  # Field of view of acquisition camera 14 (arcsec)
INS.ACQ14.COLUMN          12;  # Column number of acquisition camera 14 in hexagonal grid
INS.ACQ14.ROW             27;  # Row number of acquisition camera 14 in hexagonal grid
 
INS.ACQ15.RFOCAL   315.61959;  # R coordinate of acquisition camera 15 centre (mm)
INS.ACQ15.THFOCAL  326.03683;  # THETA coordinate of acquisition camera 15 centre (deg)
INS.ACQ15.FOV       40.00000;  # Field of view of acquisition camera 15 (arcsec)
INS.ACQ15.COLUMN          10;  # Column number of acquisition camera 15 in hexagonal grid
INS.ACQ15.ROW             31;  # Row number of acquisition camera 15 in hexagonal grid
 
INS.ACQ16.RFOCAL   101.00812;  # R coordinate of acquisition camera 16 centre (mm)
INS.ACQ16.THFOCAL  150.00001;  # THETA coordinate of acquisition camera 16 centre (deg)
INS.ACQ16.FOV       40.00000;  # Field of view of acquisition camera 16 (arcsec)
INS.ACQ16.COLUMN          19;  # Column number of acquisition camera 16 in hexagonal grid
INS.ACQ16.ROW             15;  # Row number of acquisition camera 16 in hexagonal grid
 
INS.ACQ17.RFOCAL   240.56967;  # R coordinate of acquisition camera 17 centre (mm)
INS.ACQ17.THFOCAL  144.79121;  # THETA coordinate of acquisition camera 17 centre (deg)
INS.ACQ17.FOV       40.00000;  # Field of view of acquisition camera 17 (arcsec)
INS.ACQ17.COLUMN          22;  # Column number of acquisition camera 17 in hexagonal grid
INS.ACQ17.ROW             10;  # Row number of acquisition camera 17 in hexagonal grid
 
INS.ACQ18.RFOCAL   404.65281;  # R coordinate of acquisition camera 18 centre (mm)
INS.ACQ18.THFOCAL  143.82164;  # THETA coordinate of acquisition camera 18 centre (deg)
INS.ACQ18.FOV       40.00000;  # Field of view of acquisition camera 18 (arcsec)
INS.ACQ18.COLUMN          26;  # Column number of acquisition camera 18 in hexagonal grid
INS.ACQ18.ROW              4;  # Row number of acquisition camera 18 in hexagonal grid
 
# 
# Specific parameters for each fibre positioner in the grid.
# 

INS.POS9.RFOCAL      50.51474; # R coordinate of positioner 9 centre (mm)
INS.POS9.THFOCAL     30.00000; # THETA coordinate of positioner 9 centre (deg)
INS.POS9.ORIENT       0.00000; # As assembled orientation of positioner 9 (deg)
INS.POS9.COLUMN            18; # Column number of positioner 9 in hexagonal grid
INS.POS9.ROW               21; # Row number of positioner 9 in hexagonal grid
INS.POS9.SIM              "F"; # Is positioner 9 simulated? (T/F)
INS.POS9.LOCK             "F"; # Is positioner 9 locked? (T=ok/F=locked)
INS.FIBRE9.RFOCAL    46.67019; # R coordinate (default or locked) of fibre 9 (mm)
INS.FIBRE9.THFOCAL   20.38618; # THETA coordinate (default or locked) of fibre 9 (deg)
INS.FIBRE9.HEALTH         "T"; # Is fibre 9 healthy? (T=ok/F=broken)
INS.FIBRE9.SPECTRO        "B"; # Spectrograph to which fibre 9 is connected

INS.POS20.RFOCAL      66.82118; # R coordinate of positioner 20 centre (mm)
INS.POS20.THFOCAL    349.10662; # THETA coordinate of positioner 20 centre (deg)
INS.POS20.ORIENT       0.00000; # As assembled orientation of positioner 20 (deg)
INS.POS20.COLUMN            16; # Column number of positioner 20 in hexagonal grid
INS.POS20.ROW               22; # Row number of positioner 20 in hexagonal grid
INS.POS20.SIM              "F"; # Is positioner 20 simulated? (T/F)
INS.POS20.LOCK             "F"; # Is positioner 20 locked? (T=ok/F=locked)
INS.FIBRE20.RFOCAL    69.08961; # R coordinate (default or locked) of fibre 20 (mm)
INS.FIBRE20.THFOCAL  341.75730; # THETA coordinate (default or locked) of fibre 20 (deg)
INS.FIBRE20.HEALTH         "T"; # Is fibre 20 healthy? (T=ok/F=broken)
INS.FIBRE20.SPECTRO        "A"; # Spectrograph to which fibre 20 is connected
 
INS.POS21.RFOCAL      66.82118; # R coordinate of positioner 21 centre (mm)
INS.POS21.THFOCAL     10.89340; # THETA coordinate of positioner 21 centre (deg)
INS.POS21.ORIENT       0.00000; # As assembled orientation of positioner 21 (deg)
INS.POS21.COLUMN            17; # Column number of positioner 21 in hexagonal grid
INS.POS21.ROW               22; # Row number of positioner 21 in hexagonal grid
INS.POS21.SIM              "F"; # Is positioner 21 simulated? (T/F)
INS.POS21.LOCK             "F"; # Is positioner 21 locked? (T=ok/F=locked)
INS.FIBRE21.RFOCAL    65.71732; # R coordinate (default or locked) of fibre 21 (mm)
INS.FIBRE21.THFOCAL    3.16471; # THETA coordinate (default or locked) of fibre 21 (deg)
INS.FIBRE21.HEALTH         "T"; # Is fibre 21 healthy? (T=ok/F=broken)
INS.FIBRE21.SPECTRO        "B"; # Spectrograph to which fibre 21 is connected
 
INS.POS22.RFOCAL      75.76543; # R coordinate of positioner 22 centre (mm)
INS.POS22.THFOCAL     30.00000; # THETA coordinate of positioner 22 centre (deg)
INS.POS22.ORIENT       0.00000; # As assembled orientation of positioner 22 (deg)
INS.POS22.COLUMN            18; # Column number of positioner 22 in hexagonal grid
INS.POS22.ROW               22; # Row number of positioner 22 in hexagonal grid
INS.POS22.SIM              "F"; # Is positioner 22 simulated? (T/F)
INS.POS22.LOCK             "F"; # Is positioner 22 locked? (T=ok/F=locked)
INS.FIBRE22.RFOCAL    71.69039; # R coordinate (default or locked) of fibre 22 (mm)
INS.FIBRE22.THFOCAL   23.75842; # THETA coordinate (default or locked) of fibre 22 (deg)
INS.FIBRE22.HEALTH         "T"; # Is fibre 22 healthy? (T=ok/F=broken)
INS.FIBRE22.SPECTRO        "B"; # Spectrograph to which fibre 22 is connected
#************************************************************************
# ___oOo___
